@import "./fonts.css";

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 14px;
}

.header__logo_black {
    color: #000;
    padding-top: 5px;
}

.header_logo_orange {
    color: #F25822;
}

.header_links {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
    width: 534px;
    padding-right: 30px;
}

.header_link_orange{
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.header_link_black{
    color: #000;
    font-family: Gilroy-Medium;
}

.top {
    padding-top: 96px;
    padding-bottom: 162px;
    display: flex;
    gap: 40px;
}

.top_content {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_fat_text {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    width: 522px;
}

.top_simple_text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    margin-top: 16px;
    width: 466px;
}

.top_buttons {
    margin-top: 36px;
    display: flex;
    gap: 72px;
}

.top_button-big {
    color: #FFF;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 16px 36px;
    border: none;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-weight: 400;
}

.top_button-small {
    color: #AAA;
    border: none;
    background-color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-weight: 400;
}

.logos {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
}

